.bookmark {
  position: absolute;
  border-radius: 0 25px 25px 0;
  background: #61dafb;
  top: 80px;
  left: 0;

  &__bookmark1 {
    background: cadetblue;
    border-radius: 0 25px 25px 0;
    padding: 10px 0;

    & img {
      width: 50px;
    }
  }

  &__bookmark2 {
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 20px 10px;
  }
}
